@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:400,300,600);

body {
    padding-top: 98px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.smallCap {
    /*font-variant: small-caps;*/
}
h1 {
	font-weight: 300;
}

blockquote p{
    font-size: medium;
}

h3.assignment {
    margin-top: 5px;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}

li.divider a {
	cursor: none;
	padding-left: 1px;
	padding-right: 1px;
}
.navbar-nav>li.divider>a:hover {
	background: #222222;
}

.navbar-white {
	background: url(/img/pattern.png) #fff repeat-x;
	border: none;
}
.navbar-white h1 {
	padding: 12px;
	background-color: #fff;
}
.navbar-collapse {
	padding: 0;
}
.btn.btn-square:before{
    content: "";
    display: block;
    padding: 0;
    padding-top: 100%;
}
.btn.btn-square {
	padding: 0 !important;
	margin: 0 !important;
	float: left;
	position: relative;
    width: 45%;
    overflow: hidden;
}
.btn.btn-square:nth-child(2n) {
	margin-left: 5px !important;
}
.btn.btn-square:last-child {
	/*clear: left;*/
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}
.clear {
	clear: both;
}
hr {
  margin-top: 8px;
  margin-bottom: 8px;
}
.footer {
	font-size: 8pt;
	font-weight: 300;
}